@page
@model Ganaderia.App.Presentacion.Pages.ListModel
@{
}

<h1>Lista de ganaderos</h1>


<table class="table">
  <thead>
    <tr class="bg-primary">
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Correo</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var ganadero in Model.Ganaderos)
    {
      <tr class="bg-info">
        <td>@ganadero.Nombres</td>
        <td>@ganadero.Apellidos</td>
        <td>@ganadero.Correo</td>
      </tr>
    }
  </tbody>
</table>